<% if current_user %>
  <% if @polls.any? %>
      <% @polls.each do |poll| %>
        <h1><%= poll.name %></h1>
          <p>
            <%= current_user.vote_total %>
          </p>
        <% if current_user.vote_total < 1 && current_user.vote_total > -2 %>
          <%= link_to "Upvote", like_poll_path(poll), method: :put %>
        <% end %>
        <% if current_user.vote_total > -1 && current_user.vote_total < 2 %>
          <%= link_to "Downvote", dislike_poll_path(poll), method: :put %>
        <% end %>  
      <% end %>
  <% else %>
    <h2>No polls yet</h2>
    <%= link_to "Add a poll", new_poll_path %>
  <% end %>
<% end  %>
